h1 {
color: dimgray;

font-size: 52px;
font-weight: bold;
text-align: center;
}

div.container {
background: url("http://www.planwallpaper.com/static/images/6806129-pretty-backgrounds.jpg");
   
}

h2 {
color: dimgray;
font-size: 34px;
font-weight: bold;
text-align: center;

}

p1, p2, p3 {
color: black;
font-size: 20px;


}
body{
    text-align: center;
    font-family: monospace;
}
h3, h4 {
color: dimgray;
font-size: 34px;
font-weight: bold;
text-align: center;
}
img {
   height: 50px;
   width: inherit;

}
ul, li {
    text-align: center;
    color: white;
    font-size: 20px;
    
}
footer {
    color: white;
}
